<pre id="source" style="display:none;" data-bind="visible: false, source: markdown">
## Getting Started
## What is Subroute.io?
        
Subroute.io is a hosting and execution environment for C# code built on the .NET framework. Subroute.io is ideal for building microservices,
webhooks, slackbots, or anything that needs to be hosted on the open web. All code written with Subroute.io is compiled as an assembly and
executed in a safe sandbox environment. Your code has full access to the entire .NET framework and has permission to make outgoing web requests.
        
### Writing your First Route
``` csharp
using System;
using System.Net;
using Subroute.Common;
using System.Net.Http;
using System.Linq;
using System.Collections.Generic;
using System.Threading.Tasks;

namespace Subroute.Container
{
    // &lt;summary&gt;
    // Website Monitor
    // Make the request with a "url" query parameter
    // that contains the website to verify uptime.
    // &lt;/summary&gt;
    public class RouteMethods : BaseController
    {
	    public async Task&lt;RouteResponse&gt; GetAsync(RouteRequest request)
	    {
		    // Ensure the request has a "url" parameter, otherwise return a 400 bad request.
		    QueryStringValue url;
		    if (!request.QueryString.TryGetValue("url", out url))
		        return Json(HttpStatusCode.BadRequest, new { success = false, message = "You must specify a 'url' query string parameter."});
		    
		    try
		    {
		        // We'll use the HttpClient class to make the outgoing GET request to check
		        // whether the website is up. Subroute now supports await to make the request.
    		    var client = new HttpClient();
    		    var response = await client.GetAsync(url);
		    
		        // Verify that we got a successful response back, then return a 200 OK.
    		    if (response.IsSuccessStatusCode)
    		        return Json(HttpStatusCode.OK, new { success = true, message = "Website is available." });
    		    
    		    // Otherwise we got something other than a success response. So include
    		    // the status code in the response.
		        return Json(HttpStatusCode.OK, new { success = false, message = $"Status code {(int)response.StatusCode} received from server." });
		    }
		    catch (AggregateException ex)
		    {
		        // Sometimes a URL is malformed or some other network exception occurs.
		        // so we capture the exception and return the error message.
		        // AggregateExceptions occur when something fails with an async call.
		        var message = ex?.InnerException?.InnerException.Message;
		        return Json(HttpStatusCode.InternalServerError, new { success = false, message = message });
		    }
		    catch (Exception ex)
		    {
		        // Something else went wrong with the outgoing request. Capture that
		        // and return the error message.
		        var message = ex.Message;
		        return Json(HttpStatusCode.InternalServerError, new { success = false, message = message });
		    }
	    }
    }
}
```

### Execution Pipeline
Content goes here

### Supported Wire Formats
Content goes here

## Working with Requests
### Query String
Content goes here

### Serialization
Content goes here

### Form Data
Content goes here

### Request Headers
Content goes here

## Creating Responses
### Response Headers
Content goes here

### Status Code &amp; Message
Content goes here

### Serialization
Content goes here
</pre>

<div id="doc-content">
    <div id="documentation">
        
    </div>
</div>
<div id="doc-sidebar">
    <div id="documentation-sidebar">
        <h2>Navigation</h2>

        <h4>Getting Started</h4>
        <ul>
            <li><a href="#">What is Subroute.io?</a></li>
            <li><a href="#">Writing your First Route</a></li>
            <li><a href="#">Execution Pipeline</a></li>
            <li><a href="#">Supported Wire Formats</a></li>
        </ul>

        <h4>Working with Requests</h4>
        <ul>
            <li><a href="#">Query String</a></li>
            <li><a href="#">Serialization</a></li>
            <li><a href="#">Form Data</a></li>
            <li><a href="#">Request Headers</a></li>
        </ul>

        <h4>Creating Responses</h4>
        <ul>
            <li><a href="#">Response Headers</a></li>
            <li><a href="#">Status Code &amp; Message</a></li>
            <li><a href="#">Serialization</a></li>
        </ul>
    </div>
</div>