<pre id="source" style="display:none;" data-bind="visible: false, source: markdown">
## Getting Started
## <a id="What-Is-Subroute"></a>What is Subroute.io?
        
Subroute.io is a hosting and execution environment for C# code built on the .NET framework. Subroute.io is ideal for building microservices,
webhooks, slackbots, or anything that needs to be hosted on the open web. All code written with Subroute.io is compiled as an assembly and
executed in a safe sandbox environment. Your code has full access to the entire .NET framework and has permission to make outgoing web requests.    

<span class="scroll-top">Back to Top</span>
        
### <a id="Writing-Your-First-Route"></a>Writing your First Route
``` csharp
using System;
using System.Net;
using System.Threading.Tasks;
using Subroute.Common;

namespace Subroute.Container
{
	public class RouteMethods : BaseController
	{
		public async Task&lt;RouteResponse&gt; GetAsync(RouteRequest request)
		{
		    if (!request.QueryString.TryGetValue("name", out QueryStringValue name))
		        return BadRequest();
		    
		    var greeting = $"Hello {name}!";
		    
			return String(HttpStatusCode.OK, greeting);
		}
	}
}
```
**Figure 13. Hello World - [Try it Now](https://api.subroute.io/v1/example-hello-world?name=Your+Name)**

In the example above we show you how to access a query string parameter. It's helpful when working with the query string to always ensure the
value exists using the ```TryGetValue(string key, out QueryStringValue name)``` method. As you may have noticed, Subroute.io supports C# 6 and its
ability to use inline `out` parameters.

Another handy feature of C# 6 is string interpolation, which you can see in action when we are building the greeting result. Instead of doing
a `string.Format("Hello {0}!", name)`, we are able to embed the `name` variable directly into the format string like `$"Hello {name}!"`.

If you need granular control over the final response, you can create a `RouteResponse` object manually which will give you direct control over
the response headers, body, status code, and status message. But an easier way is to use one of the base methods to build and serialize the
response for you. Read more about returning [Common Responses](#).    

<span class="scroll-top">Back to Top</span>

### <a id="Supported-Wire-Formats"></a>Supported Wire Formats
It's important to note that all data gets stored and sent over the wire as either a base64 string, or byte array. However, we have base methods
that make working with your desired format easier. Support for wire formats is as follows.

+ *Json* - Supported
+ *Xml* - Supported
+ *Plain Text* - Supported
+ *Multipart Form-Data* - Supported
+ *Soap* - Supported (Manually)
+ *Protocol Buffers* - Supported (Manually)
+ *Stream* - Supported (Converted to Byte Array)    

<span class="scroll-top">Back to Top</span>

## Working with Requests
### <a id="Query-String"></a>Query String
There are multiple ways to access to query string. Here are ways to access single value, multiple values, and parameter existance.

``` csharp
using System;
using System.Threading.Tasks;
using Subroute.Common;

namespace Subroute.Container
{
	public class RouteMethods : BaseController
	{
		public async Task&lt;RouteResponse&gt; GetAsync(RouteRequest request)
		{
		    // Single parameter /my-route?value=Foo
		    var singleValue1 = (string) request.QueryString["value"];                         
		    var singleValue2 = request.QueryString["value"].FirstValue;
		    
		    // Multiple parameters /my-route?value=Foo&value=Bar&value=Tomato
		    var multiValue = request.QueryString["value"].Values;
		    
		    // Parameter existance /my-route?value=Foo
		    if (!request.QueryString.TryGetValue("value", out QueryStringValue value))
		        BadRequest();
		    
			return NoContent();
		}
	}
}
```
**Figure 14. Query String Access - [Try it Now](https://api.subroute.io/v1/example-query-string)**

One thing worth noting is that a value you get back from `request.QueryString["value"]` is of type `QueryStringValue` and not `string`.
However, `QueryStringValue` can be implicitly cast as a `string` and will return the first value when cast.    

<span class="scroll-top">Back to Top</span>

### <a id="Deserialization"></a>Deserialization
#### JSON Deserialization
Deserializing JSON data from the request body uses the Json.NET serializer. The easiest way to read request data as JSON is to use 
the `ReadBodyAsJson&lt;TPayload&gt;()` method on the RouteRequest object. This will instantiate a new instance of the specified 
`TPayload` type argument.

``` csharp
using System;
using System.Net;
using System.Threading.Tasks;
using Subroute.Common;

namespace Subroute.Container
{
	public class RouteMethods : BaseController
	{
		public async Task&lt;RouteResponse&gt; PostAsync(RouteRequest request)
		{
		    var payload = request.ReadBodyAsJson&lt;Product&gt;();
		    
			return StatusCode(HttpStatusCode.Created);
		}
	}
	
	public class Product
	{
	    public string Name { get; set; }
	    public string Description { get; set; }
	    public DateTime AvailableOn { get; set; }
	    public int Quantity { get; set; }
	}
}
```                                              
**Figure 15. JSON Request Deserialization - [Try it Now](https://api.subroute.io/v1/example-request-serialization-json)**

#### XML Deserialization
Deserializing XML from the request body follows the same pattern as JSON. You use the `ReadBodyAsXml&lt;TPayload&gt;()` method on the 
RouteRequest object. This will instantiate a new instance of the specified `TPayload` type argument. Internally the Subroute.io framework
uses the `DataContractSerializer` when working with XML therefore the documentation for the [DataContractSerializer](https://msdn.microsoft.com/en-us/library/system.runtime.serialization.datacontractserializer(v=vs.110).aspx) applies here as well.

``` csharp
using System;
using System.Net;
using System.Threading.Tasks;
using Subroute.Common;

namespace Subroute.Container
{
    public class RouteMethods : BaseController
    {
        public async Task&lt;RouteResponse&gt; PostAsync(RouteRequest request)
        {
            var payload = request.ReadBodyAsXml<Product>();
            
            return Xml(HttpStatusCode.Created, payload);
        }
    }
    
    public class Product
    {
        public string Name { get; set; }
        public string Description { get; set; }
        public DateTime AvailableOn { get; set; }
        public int Quantity { get; set; }
    }
}
```                                                   
**Figure 16. XML Request Deserialization - [Try it Now](https://api.subroute.io/v1/example-request-serialization-xml)**                                                   

<span class="scroll-top">Back to Top</span>

### <a id="Form-Data"></a>Form Data
Subroute.io makes accessing multipart/form-data as easy as working with the query string. When form data is expected on the request, you can 
use the `ReadBodyAsPostData()` method on the `RouteRequest` object to access a `Dictionary&lt;string, QueryStringValue&gt;` containing the 
form data from the request body. Here is an example of different ways to access form data parameters.

``` csharp
using System;
using System.Net;
using System.Threading.Tasks;
using Subroute.Common;

namespace Subroute.Container
{
    public class RouteMethods : BaseController
    {
        public async Task&lt;RouteResponse&gt; PostAsync(RouteRequest request)
        {
            var formData = request.ReadBodyAsPostData();
            
		    // Single parameter 
		    // POST /my-route
		    // value=Foo
		    var singleValue1 = (string) formData["value"];
		    var singleValue2 = formData["value"].FirstValue;
		    
		    // Multiple parameters 
		    // POST /my-route
		    // value=Foo&value=Bar&value=Tomato
		    var multiValue = formData["value"].Values;
		    
		    // Parameter existance 
		    // POST /my-route
		    // value=Foo
		    if (!formData.TryGetValue("value", out QueryStringValue value))
		        BadRequest();
            
            return StatusCode(HttpStatusCode.OK);
        }
    }
}
```
**Figure 17. Reading Multipart/Form-Data - [Try it Now](https://api.subroute.io/v1/example-request-form-data)**

You'll notice that the pattern for accessing form data parameters is almost identical to the way you access query string parameters. In 
fact internally Subroute.io uses the same class for working with both. You can access this functionality directly by calling 
`QueryStringParser.ParseQueryString(string query)`. This will return a `Dictionary&lt;string, QueryStringValue&gt;`, where `QueryStringValue` 
can represent one or more string values for the same parameter name.                             

<span class="scroll-top">Back to Top</span>

### <a id="Request-Headers"></a>Request Headers
Working with request headers again follows the same pattern as the query string and form data. `request.Headers` returns a 
`Dictionary&lt;string, string&gt;` and follows the rules of working with any dictionary. Here is an example of how to access header data.

``` csharp
using System;
using System.Net;
using System.Threading.Tasks;
using Subroute.Common;

namespace Subroute.Container
{
	public class RouteMethods : BaseController
	{
		public async Task&lt;RouteResponse&lt; GetAsync(RouteRequest request)
		{
		    // Header Accept: application/json
		    var accept = request.Headers["Accept"];
		    
		    // Header Authorization: Bearer HX2JBYJTTYT27MD767KPJGRPJ
		    if (!request.Headers.TryGetValue("Authorization", out string authorization))
		        return StatusCode(HttpStatusCode.Forbidden);
		    
			return NoContent();
		}
	}
}
```                         
**Figure 18. Request Headers - [Try it Now](https://api.subroute.io/v1/example-request-headers)**

Currently Subroute.io does not offer built-in authentication, as we feel this is an exercise best left for you, the Subroute.io developer.
There are many ways to implement authentication and authorization. Subroute.io gives you the flexibility to implement any kind you need.

<span class="scroll-top">Back to Top</span>

### <a id="Custom-Request-Formatter"></a>Custom Request Formatter
Request formatters are one easy way to transform request data into something useful and easy to program against. There are formatters already 
registered for most common data types (such as XML, JSON, and Post Data). Once you register your custom request formatter, the way you invoke it 
is via the `request.ReadBodyWithFormatter&lt;TPayload&gt;(string formatterName)`. To invoke your formatter, you pass the name of your formatter and the 
Subroute.io framework will locate your custom formatter and call its `ReadRequestBody(Type bodyType, byte[] body)` method passing the request 
data and then casting its result as the request `TPayload` type. Here is an example of how to create, register, and use a custom request formatter.

``` csharp
using System;
using System.Net;
using System.Text;
using System.Threading.Tasks;
using Subroute.Common;
using Subroute.Common.RequestFormatters;

namespace Subroute.Container
{
	public class RouteMethods : BaseController
	{
	    public RouteMethods()
	    {
	        // Register new request formatter with global configuration.
	        GlobalConfiguration.RequestFormatters.Add(new CSVRequestFormatter());
	    }
	    
		public async Task<RouteResponse> PostAsync(RouteRequest request)
		{
		    // Use the request formatter to parse request body into string array.
		    var csvData = request.ReadBodyWithFormatter<string[]>("csv");
		    
		    // Create an anonymous object to return the parsed request data.
		    var response = new
		    {
		        Values = csvData
		    };
		    
			return Json(HttpStatusCode.OK, response);
		}
	}
	
	public class CSVRequestFormatter : IRequestFormatter
	{
	    public string Name
	    {
	        get { return "csv"; }
	    }
	    
	    public object ReadRequestBody(Type bodyType, byte[] body)
	    {
	        // Convert the request body into a UTF8 encoded string.
	        var payload = Encoding.UTF8.GetString(body);
	        
	        // Split the CSV string into a string array and remove empty entries.
	        return payload.Split(new [] { ',' }, StringSplitOptions.RemoveEmptyEntries);
	    }
	}
}
```                                                     
**Figure 19. Custom Request Formatter - [Try it Now](https://api.subroute.io/v1/example-request-formatter)**
                                                         
<span class="scroll-top">Back to Top</span>

## Creating Responses
### <a id="Response-Headers"></a>Response Headers

Subroute.io enables full control over the response headers of your route. Setting the content-type header to indicate what type 
of response should be expected. This is handled for you automatically when using the base methods for <span class="scroll-link" data-anchor="Common-Responses">Common Responses</span>.

``` csharp
using System;
using System.Net;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using System.Threading.Tasks;
using Subroute.Common;

namespace Subroute.Container
{
	public class RouteMethods : BaseController
	{
		public async Task&lt;RouteResponse&gt; GetAsync(RouteRequest request)
		{
		    var response = new RouteResponse(HttpStatusCode.OK)
		    {
		        Headers = new Dictionary<string, string>
		        {
		            { "Content-Type", "application/json" }
		        }
		    };
		    
		    response.Headers.Add("Cache-Control", "no-cache");
		    response.Headers.Add("WWW-Authenticate", "Basic");
		    
			return response;
		}
	}
}
```
**Figure 20. Response Headers - [Try it Now](https://api.subroute.io/v1/example-response-headers)**

<span class="scroll-top">Back to Top</span>

### <a id="Status-Code-Message"></a>Status Code &amp; Message

With Subroute.io it's easy to control the response status code and message. The `RouteResponse` object requires that the status code 
be set when creating the `RouteResponse` object. The status message isn't required to be set and will default to whatever status message 
is appropriate for the status code. Here is an example of how to set the status code and message.

``` csharp
using System;
using System.Net;
using System.Threading.Tasks;
using Subroute.Common;

namespace Subroute.Container
{
	public class RouteMethods : BaseController
	{
		public async Task&lt;RouteResponse&gt; GetAsync(RouteRequest request)
		{
		    // Anonymous type representing result.
		    var payload = new 
		    { 
		        Name = "John Smith"
		    };
		    
		    // Base method used to create RouteResponse instance with 200 HTTP status code.
		    var response = Json(HttpStatusCode.OK, payload);
		    
		    // Set the status message.
		    response.StatusMessage = "Customer Found";
		    
			return response;
		}
	}
}
```
**Figure 21. Status Code &amp; Message - [Try it Now](https://api.subroute.io/v1/example-status-code-message)**

<span class="scroll-top">Back to Top</span>

### <a id="Serialization"></a>Serialization                         
#### JSON Serialization
JSON serialization in Subroute.io is handled by [Json.NET](http://www.newtonsoft.com/json). The easiest way to return a json response 
is to use the base method `Json(HttpStatusMethod, object)`. Pass in a class instance containing the data you want to serialize and the 
status code to return. The method will create a `RouteResponse` object with the response body containing the serialized JSON representation 
of the provided class. The method will also set the `Content-Type` header as "application/json".

``` csharp
using System;
using System.Net;
using System.Threading.Tasks;
using Subroute.Common;

namespace Subroute.Container
{
	public class RouteMethods : BaseController
	{
		public async Task&lt;RouteResponse&gt; GetAsync(RouteRequest request)
		{
		    var payload = new 
		    {
		        FirstName = "John",
		        LastName = "Smith",
		        DOB = new DateTime(1986, 3, 12),
		        AddressHistory = new []
		        {
		            new
		            {
		                Address = "123 Lord Baranof",
		                City = "Soldotna",
		                State = "Alaska",
		                PostalCode = "99669",
		                Year = 2004
		            },
		            new
		            {
		                Address = "640 Hulman St",
		                City = "Terre Haute",
		                State = "Indiana",
		                PostalCode = "47803",
		                Year = 1997
		            }
		        }
		    };
		    
			return Json(HttpStatusCode.OK, payload);
		}
	}
}
```
**Figure 22. Json Serialization - [Try it Now](https://api.subroute.io/v1/example-response-serialization-json)**

#### XML Serialization
Xml serialization is handled almost identically to Json serialization, except it's provided by the `DataContractSerializer`. To return 
Xml, you can call the `Xml(HttpStatusCode, object)` base method. You pass the status code you want to return, and a class instance to be 
serialized. The method will create a `RouteResponse` object with the response body containing the serialized XML representation of the 
provided class. The method will also set the `Content-Type` header as "application/xml". 

``` csharp
using System;
using System.Net;
using System.Threading.Tasks;
using Subroute.Common;

namespace Subroute.Container
{
	public class RouteMethods : BaseController
	{
		public async Task&lt;RouteResponse&gt; GetAsync(RouteRequest request)
		{
		    var payload = new Person
		    {
		        FirstName = "John",
		        LastName = "Smith",
		        DOB = new DateTime(1986, 3, 12),
		        AddressHistory = new []
		        {
		            new Location
		            {
		                Address = "123 Lord Baranof",
		                City = "Soldotna",
		                State = "Alaska",
		                PostalCode = "99669",
		                Year = 2004
		            },
		            new Location
		            {
		                Address = "640 Hulman St",
		                City = "Terre Haute",
		                State = "Indiana",
		                PostalCode = "47803",
		                Year = 1997
		            }
		        }
		    };
		    
			return Xml(HttpStatusCode.OK, payload);
		}
	}
	
	public class Person
	{
	    public string FirstName { get; set; }
	    public string LastName { get; set; }
	    public DateTime DOB { get; set; }
	    public Location[] AddressHistory { get; set; }
	}
	
	public class Location
	{
	    public string Address { get; set; }
	    public string City { get; set; }
	    public string State { get; set; }
	    public string PostalCode { get; set; }
	    public int Year { get; set; }
	}
}
```                         
**Figure 23. Xml Serialization - [Try it Now](https://api.subroute.io/v1/example-response-serialization-xml)**

You may have noticed that the JSON serializer supports using anonymous types as the XML serializer requires the use of concrete types. 
But the base methods hide the complexity of creating a `RouteResponse`, setting the headers, and serializing the response body.                             

<span class="scroll-top">Back to Top</span>

### <a id="Common-Responses"></a>Common Responses

The following methods are available as methods of the base class `BaseController`. They all return a `RouteResponse` object containing 
values that are appropriate to the type of content they are returning.

String(HttpStatusCode statusCode, string value)
    ~ Returns a content-type of text/plain, where the response body contains the exact string passed.  
    
Stream(HttpStatusCode statusCode, Stream stream, string contentType, [string contentDispostion])
    ~ Uses the content-type provided as well as any provided content disposition, with a response body containing the provided Stream.                             

Json(HttpStatusCode statusCode, object payload)
    ~ Returns a content-type of application/json, where the response body contains the provided object serialized as JSON.

Xml(HttpStatusCode statusCode, object payload)
    ~ Returns a content-type of application/xml, where the response body contains the provided object serialized as XML.

Formatted(HttpStatusCode statusCode, string formatterName, object payload)
    ~ Uses a registered formatter with the provided name to serialize the provided object and returns a response with the provided content type.

StatusCode(HttpStatusCode statusCode)
    ~ Returns an empty response with the provided status code.

NoContent()
    ~ Returns an empty response with a 204 No Content response.

BadRequest()
    ~ Returns an empty response with a 400 Bad Request response.

<span class="scroll-top">Back to Top</span>
                             
### <a id="Custom-Response-Formatter"></a>Custom Response Formatter
Response formatters make it easy to prepare the response body. They take an expected type and serialize its data as a byte array containing 
the final response output. After creating a new response formatter, you register it using the `GlobalConfiguration.ResponseFormatters` in the 
same way you register request formatters. There are response formatters for most common types (such as XML, JSON, and String). To invoke your 
response formatter, you call the `Formatted(HttpStatusCode statusCode, string formatterName, object payload)` base method. This will locate 
your formatter by name and pass the provided payload object to it. It will then create a new `RouteResponse` object and set the body to the 
formatters output. Here is an example of how to create, register, and invoke a custom response formatter.

``` csharp
using System;
using System.Net;
using System.Text;
using System.Threading.Tasks;
using Subroute.Common;
using Subroute.Common.ResponseFormatters;

namespace Subroute.Container
{
	public class RouteMethods : BaseController
	{
	    public RouteMethods()
	    {
	        // Register new request formatter with global configuration.
	        GlobalConfiguration.ResponseFormatters.Add(new CSVResponseFormatter());
	    }
	    
		public async Task<RouteResponse> GetAsync(RouteRequest request)
		{
		    var values = new []
		    {
		        "Foo",
		        "Bar",
		        "Chu"
		    };
		    
			return Formatted(HttpStatusCode.OK, "csv", values);
		}
	}
	
	public class CSVResponseFormatter : IResponseFormatter
	{
	    public string Name
	    {
	        get { return "csv"; }
	    }
	    
	    public byte[] WriteResponseBody(object payload)
	    {
	        // Cast and verify the payload is a string array and convert it to 
	        // as string array and join it together as a CSV string as the result.
	        if (payload is string[] array)
	            return Encoding.UTF8.GetBytes(string.Join(",", array));
	        
            throw new Exception("CSVResponseFormatter can only output string arrays.");
	    }
	}
}
```
**Figure 24. Custom Response Formatter - [Try it Now](https://api.subroute.io/v1/example-response-formatter)**

<span class="scroll-top">Back to Top</span>
</pre>

<div id="doc-content">
    <div id="documentation-content">
        <div id="documentation-well">
            
        </div>
    </div>
</div>
<div id="doc-sidebar">
    <div id="documentation-sidebar">
        <h2>Navigation</h2>

        <h4>Getting Started</h4>
        <ul>
            <li><span data-bind="click: scrollToAnchor('What-Is-Subroute')">What is Subroute.io?</span></li>
            <li><span data-bind="click: scrollToAnchor('Writing-Your-First-Route')">Writing your First Route</span></li>
            <li><span data-bind="click: scrollToAnchor('Supported-Wire-Formats')">Supported Wire Formats</span></li>
        </ul>

        <h4>Working with Requests</h4>
        <ul>
            <li><span data-bind="click: scrollToAnchor('Query-String')">Query String</span></li>
            <li><span data-bind="click: scrollToAnchor('Deserialization')">Deserialization</span></li>
            <li><span data-bind="click: scrollToAnchor('Form-Data')">Form Data</span></li>
            <li><span data-bind="click: scrollToAnchor('Request-Headers')">Request Headers</span></li>
            <li><span data-bind="click: scrollToAnchor('Custom-Request-Formatter')">Custom Request Formatter</span></li>
        </ul>

        <h4>Creating Responses</h4>
        <ul>
            <li><span data-bind="click: scrollToAnchor('Response-Headers')">Response Headers</span></li>
            <li><span data-bind="click: scrollToAnchor('Status-Code-Message')">Status Code &amp; Message</span></li>
            <li><span data-bind="click: scrollToAnchor('Serialization')">Serialization</span></li>
            <li><span data-bind="click: scrollToAnchor('Common-Responses')">Common Responses</span></li>
            <li><span data-bind="click: scrollToAnchor('Custom-Response-Formatter')">Custom Response Formatter</span></li>
        </ul>
    </div>
</div>