<div id="scripts">
    <div id="suggestion" data-bind="visible: showSuggestionInfo, with: defaultSuggestion, css: { 'toolbox-visible': toolboxVisible }">
        <span class="suggestion-author">
            <img class="avatar-circle" data-bind="src: picture" /> Author: <span class="suggestion-name" data-bind="text: name"></span>
        </span>
        <span class="suggestion-title">
            <span class="suggestion-title-contents" data-bind="text: title, attr: { title: title }"></span>
        </span>
        <span class="suggestion-buttons">
            <button class="suggestion-blank" data-bind="click: $root.useBlankDocument"><i class="fa fa-file"></i> Use Blank Document</button>
            <button class="suggestion-show-another" data-bind="click: $root.loadRandomSuggestion, loading: { trigger: $root.suggesting, idle: 'fa-refresh' }"><i class="fa fa-refresh"></i> Show Me Another</button>
        </span>
    </div>
    <button class="route-sidebar-toggle" data-bind="toggle: toolboxVisible, css: { 'toolbox-visible': toolboxVisible }"></button>
    <pre id="editor" data-bind="ace: { value: script, syntax: 'csharp', save: saveChanges, compile: compile, run: publishAndRun, publish: publish, intellisense: intellisense }, css: { 'has-suggestions': showSuggestionInfo, 'toolbox-visible': toolboxVisible }"></pre>
    <div id="error-list" data-bind="css: { 'has-diagnostics': diagnosticsCount() > 0 }">
        <button id="error-status" data-bind="toggle: diagnosticsVisible, css: statusClass"><i class="fa fa-fw" data-bind="visible: diagnosticsCount() > 0, css: { 'fa-caret-up': !diagnosticsVisible() && diagnosticsCount() !== 0, 'fa-caret-down': diagnosticsVisible() && diagnosticsCount() !== 0 }"></i> <span data-bind="text: statusMessage"></span>
            <span class="intellisense-status pull-right" data-bind="visible: !intellisenseLoading()"><i class="fa fa-clock-o"></i><span>Intellisense Idle</span></span>
            <span class="intellisense-status pull-right" data-bind="visible: intellisenseLoading"><i class="fa fa-refresh fa-spin"></i><span>Intellisense Loading...</span></span>
            <span class="maker">Made with <i class="fa fa-heart-o"></i> by <a href="http://dylanvester.com" target="_blank">Dylan Vester</a> - Fork me on <a href="https://github.com/msdevstep/subroute.io" target="_blank">GitHub</a> <i class="fa fa-hand-spock-o"></i></span></button>
        <div id="error-list-contents" data-bind="visible: diagnosticsVisible() && diagnosticsCount() > 0, direction: 'down'">
            <table>
                <thead>
                    <tr>
                        <th class="icon"></th>
                        <th class="short">Severity</th>
                        <th class="short">Code</th>
                        <th>Message</th>
                        <th class="medium">Position</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: diagnostics">
                    <tr>
                        <td>
                            <i class="fa fa-exclamation-triangle fa-fw diagnostic-warning" data-bind="visible: severity == 'Warning'"></i>
                            <i class="fa fa-times-circle fa-fw diagnostic-error" data-bind="visible: severity == 'Error'"></i>
                            <i class="fa fa-info-circle fa-fw diagnostic-message" data-bind="visible: severity == 'Message'"></i>
                        </td>
                        <td data-bind="text: severity"></td>
                        <td data-bind="text: code"></td>
                        <td data-bind="text: description"></td>
                        <td data-bind="text: $root.formatPosition($data)"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="toolbox" data-bind="visible: toolboxVisible">
        <ul class="sub-nav">
            <li data-bind="css: { active: activePanel() === 'routes/properties.html' }"><button data-bind="click: showProperties"><i class="fa fa-heartbeat fa-fw"></i>STATUS</button></li>
            <li data-bind="css: { active: activePanel() === 'routes/settings.html' }"><button data-bind="click: showSettings, enable: auth.isAuthenticated && !isNew()"><i class="fa fa-cogs fa-fw"></i>SETTINGS</button></li>
            <li data-bind="css: { active: activePanel() === 'routes/requests.html' }"><button data-bind="click: showRequests, enable: auth.isAuthenticated() && !isNew()"><i class="fa fa-history fa-fw"></i>LOG</button></li>
            <li data-bind="css: { active: activePanel() === 'routes/client.html' }"><button data-bind="click: showClient, enable: auth.isAuthenticated && !isNew()"><i class="fa fa-play fa-fw"></i>RUN</button></li>
        </ul>

        <div data-bind="compose: activePanel"></div>
    </div>
</div>