<div id="request-details">
    <div class="horizontal-form">
        <label>Request Uri:</label>
        <input type="text" readonly="readonly" />
    </div>
    <div class="horizontal-form">
        <label>Method / Status Code / Message:</label>
        <input type="text" readonly="readonly" />
    </div>
    <div class="horizontal-form">
        <label>IP Address:</label>
        <input type="text" readonly="readonly" />
    </div>
    <div class="horizontal-form">
        <label>Occurred On:</label>
        <input type="text" readonly="readonly" />
    </div>
    <div class="horizontal-form">
        <label>Completed On:</label>
        <input type="text" readonly="readonly" />
    </div>
</div>