<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Subroute.ConnectionString" value="--- MERGE FROM EXTERNAL FILE ---" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Subroute.ServiceBus.MaxConcurrentExecutions" value="1" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Subroute.ServiceBus.RequestTopicName" value="--- MERGE FROM EXTERNAL FILE ---" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Subroute.ServiceBus.ResponseTopicName" value="--- MERGE FROM EXTERNAL FILE ---" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Subroute.ServiceBus.RequestSubscriptionName" value="--- MERGE FROM EXTERNAL FILE ---" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Subroute.ServiceBus.ResponseSubscriptionNameFormat" value="--- MERGE FROM EXTERNAL FILE ---" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>