<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Client.Debug" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Client.ApiUrl" value="--- MERGE FROM EXTERNAL FILE ---" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Client.AppBaseUrl" value="--- MERGE FROM EXTERNAL FILE ---" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Client.EnableSuggestions" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Client.EnableGallery" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>