<div data-view="plugins/messageBox" class="messageBox nuget-modal">
    <div class="modal-content">
        <div class="modal-header">
            <h3>Add NuGet Package</h3>
        </div>
        <div class="modal-body">
            
            <div id="browse">
                <div class="horizontal-form">
                    <label>Search Packages:</label>
                    <input type="text" placeholder="Keywords..." data-bind="textInput: keywords" />
                </div>
                <div class="repeater-list">
                    <div class="packages-loading" data-bind="visible: loading">
                        <i class="fa fa-refresh fa-spin fa-2x"></i>
                    </div>
                    <ul class="nuget-package-results" data-bind="foreach: packages, visible: !loading()">
                        <li>
                            <button>
                                <span class="repeater-item-content clearfix">
                                    <img src="../../../img/android-icon-144x144.png" title="Newtonsoft.Json" data-bind="safeSrc: {src: iconUrl, fallback: '../../../img/android-icon-144x144.png'}" />
                                    <strong data-bind="text: title">Newtonsoft.Json</strong>
                                    <span class="author" data-bind="text: authorsDisplay">Authors</span>  
                                    <span data-bind="text: summary || description">Description Here</span>
                                </span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default pull-left" data-bind="click: previousPage, enable: previousPageAvailable">Previous Page</button>
            <button class="btn btn-default pull-left" data-bind="click: nextPage, enable: nextPageAvailable">Next Page</button>
            <span class="pull-left paging-details" data-bind="text: pageDetails"></span>
            <button class="btn btn-primary" data-bind="click: close">Close</button>
        </div>
    </div>
</div>